dist: xenial
language: python

cache: pip

branches:
  only:
    - master

matrix:
  include:
    - os: linux
      python: 3.7
      env: NOX_SESSION=check
    - os: linux
      python: 3.7
      env: NOX_SESSION=docs

    - os: linux
      python: 3.6
      env: NOX_SESSION=test-3.6
    - os: linux
      python: 3.7
      env: NOX_SESSION=test-3.7

    - os: linux
      python: 3.8-dev
      env: NOX_SESSION=test-3.8
      dist: bionic # Required to get OpenSSL 1.1.1+

    - os: windows
      language: shell
      python: 3.7
      env:
        PATH=/c/Python37:/c/Python37/Scripts:$PATH
        NOX_SESSION=check
      before_install:
        - choco install python --version 3.7
        - python -m pip install --upgrade pip
    - os: windows
      language: shell
      python: 3.7
      env:
        PATH=/c/Python37:/c/Python37/Scripts:$PATH
        NOX_SESSION=docs
      before_install:
        - choco install python --version 3.7
        - python -m pip install --upgrade pip

    - os: windows
      language: shell
      python: 3.6
      env:
        PATH=/c/Python36:/c/Python36/Scripts:$PATH
        NOX_SESSION=test-3.6
      before_install:
        - choco install python --version 3.6
        - python -m pip install --upgrade pip
    - os: windows
      language: shell
      python: 3.7
      env:
        PATH=/c/Python37:/c/Python37/Scripts:$PATH
        NOX_SESSION=test-3.7
      before_install:
        - choco install python --version 3.7
        - python -m pip install --upgrade pip

    - os: windows
      language: shell
      python: 3.8-dev
      env:
        PATH=/c/Python38:/c/Python38/Scripts:$PATH
        NOX_SESSION=test-3.8
      before_install:
        - choco install python --version 3.8.0-b4
        - python -m pip install --upgrade pip

install:
  - pip install --upgrade nox

script:
  - nox -s ${NOX_SESSION}

after_script:
  - if [ -f .coverage ]; then
      python -m pip install codecov;
      codecov --required;
    fi
