dist: xenial
language: python

cache: pip

branches:
  only:
    - master

matrix:
  include:
    - python: 3.7
      env: NOX_SESSION=check
    - python: 3.7
      env: NOX_SESSION=docs

    - python: 3.6
      env: NOX_SESSION=test-3.6
    - python: 3.7
      env: NOX_SESSION=test-3.7
    - python: 3.8
      env: NOX_SESSION=test-3.8
      dist: bionic # Required to get OpenSSL 1.1.1+

    - os: windows
      language: shell
      python: 3.7
      env:
        PATH=/c/Python37:/c/Python37/Scripts:$PATH
        NOX_SESSION=test-3.7
      before_install:
        - choco install python --version 3.7
        - python -m pip install --upgrade pip

  fast_finish: true
  allow_failures:
    # FIX
    # Some tests not yet resolved for Windows. (In progress)
    - os: windows
    # Allow builds to fail when using '-dev' Python versions.
    # We should still investigate failures periodically for new APIs.
    - python: 3.8

install:
  - pip install --upgrade nox

script:
  - nox -s ${NOX_SESSION}

after_script:
  - if [ -f .coverage ]; then
      python -m pip install codecov;
      codecov --required;
    fi
