-e .

# Build dependencies.
git+https://github.com/python-trio/unasync.git@2c2c9b7fdfd3aeb7cb44d4c1ac6f203500e5efae
wheel

# Optional
brotlipy==0.7.*

autoflake
# See: https://github.com/encode/httpx/pull/639#issuecomment-566235998
black --no-binary=regex
cryptography
flake8
flake8-bugbear
flake8-pie
isort
mkdocs
mkautodoc
mkdocs-material
mypy
pytest
pytest-asyncio
pytest-trio
pytest-cov
git+https://github.com/florimondmanca/pytest-unasync.git
trio
trustme
uvicorn
seed-isort-config

attrs>=19.2  # See: https://github.com/encode/httpx/pull/566#issuecomment-559862665
