-e .[http2]

# Optional
brotlipy==0.7.*

autoflake
# See: https://github.com/encode/httpx/pull/639#issuecomment-566235998
black --no-binary=regex
cryptography
flake8
flake8-bugbear
flake8-pie
isort
mkdocs
mkautodoc
mkdocs-material
mypy
pytest
pytest-asyncio
pytest-trio
pytest-cov
trio
trustme
uvicorn
seed-isort-config

attrs>=19.2  # See: https://github.com/encode/httpx/pull/566#issuecomment-559862665
