-e .

# Optional
async_exit_stack; python_version < '3.7'
brotlipy==0.7.*

cryptography
flake8
flake8-bugbear
flake8-comprehensions
flake8-pie
isort
mypy
pytest
pytest-asyncio
pytest-trio
pytest-cov
trio
trustme
uvicorn
