-e .

# Optional
anyio
brotlipy==0.7.*

cryptography
flake8
flake8-bugbear
flake8-comprehensions
isort
mypy
pytest
pytest-asyncio
pytest-cov
trustme
uvicorn

# https://github.com/MagicStack/uvloop/issues/266
uvloop<0.13; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'pypy'
