div.autodoc-docstring {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 5px solid rgba(230, 230, 230);
}

div.autodoc-members {
  padding-left: 20px;
  margin-bottom: 15px;
}

.doc-class-bases {
  display: none;
}

div[data-md-type="toc"] .md-nav__item > .md-nav {
  display: none;
}
