---
name: Test Suite

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }} ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        python-version: ["3.6", "3.7", "3.8", "3.9"]
    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v2"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: "scripts/install"
        shell: bash
      - name: "Run linting checks"
        run: "scripts/check"
        shell: bash
      - name: "Build package & docs"
        run: "scripts/build"
        shell: bash
      - name: "Run tests"
        run: "scripts/test"
        shell: bash
      - name: "Enforce coverage"
        run: "scripts/coverage"
        shell: bash
